/* reset */
body, h1, h2, h3, h4, p, ul, ol, dl, dd, form, input, textarea, select, th, td {
	margin: 0;
	padding: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
img {
	border: none;
	vertical-align: middle;
}
table {
	border-collapse: collapse;
}
input, textarea {
	outline: none;
}
textarea {
	resize: none;
	overflow: auto;
}
body {
	font-size: 12px;
	font-family: "微软雅黑";
}
em {
	font-style: normal;
}

/* end reset */

/* public */
li {
	vertical-align: middle; /*IE6，7下li间隙bug*/
}
.clear {
	zoom: 1;
}
.clear:after {
	content: "";
	display: block;
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.gradient {
	background: -moz-linear-gradient(top, #ffffff, #f8f8f8);/*firfox*/
	background: -webkit-linear-gradient(top, #ffffff, #f8f8f8);/*chrome*/
	background: -ms-linear-gradient(top, #ffffff, #f8f8f8);/*IE*/
	background: linear-gradient(top, #ffffff, #f8f8f8);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ffffff, endColorstr=#f8f8f8)";/*IE8、9*/
	+background: #f9f9f9; /*hack IE7-*/
}

/* 三角形 */
.triangle-up, .triangle-down-red, .triangle-down-gray {
	position: absolute;
	width: 0;
	height: 0;
	overflow: hidden;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
}
.triangle-up {
	border-bottom: 4px solid #ca0309;
}
.triangle-down-red {
	border-top: 4px solid #ca0309;
}
.triangle-down-gray {
	border-top: 4px solid #c4bdbd;
}

/* end public */

/* layout */
body {
	margin-bottom: 30px;
}
#header, #nav, #content {
	width: 960px;
	margin: 0 auto;
}
#search, .section, .side-section, .side-ad, #footer {
	border: 1px solid #dbdbdb;
	border-radius: 6px;
}
.section, .options, .main-ad, .side-section, .side-ad {
	margin-bottom: 10px;
}
.main-ad {
	+margin-top: 10px; /* hack IE6,7该元素上方的元素margin-bottom失效*/
}
#header {
	height: 30px;
	border-radius: 0 0 6px 6px;
}
#nav {
	height: 100px;
	position: relative;
}
#search {
	width: 958px;
	height: 114px;
	margin: 0 auto 10px;
	position: relative;
}
.main {
	width: 710px;
}
.section {
	width: 318px;
	padding: 0 15px;
}
.options {
	width: 350px;
}
.main-ad {
	border-radius: 6px;
	overflow: hidden;
}
.side {
	width: 240px;
}
.side-section {
	padding: 0 12px;
}
.side-ad {
	overflow: hidden;
}
#footer {
	width: 958px;
	height: 64px;
	padding-top: 14px;
	margin: 0 auto;
	background: #f9f9f9;
}

/*end layout */

/* header */
#header .city {
	padding: 5px 0 0 20px;
	float: left;
	color: #666;
}
#header .city li {
	float: left;
	padding: 0 2px;
	line-height: 20px;
}
#header .city a {
	padding: 0 7px;
	color: #999;
	background: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	box-shadow: 1px 1px 0 #ededed;
}
#header .city .active {
	color: #d60d03;
}
#header .city .active:hover {
	background: #fff;
}
#header .city a:hover {
	background: #f1f1f1;
}
#header .menu {
	float: right;
	padding-right: 20px;
	line-height: 30px;
}
#header .menu li {
	float: left;
	padding: 0 3px;
}
#header .menu a {
	color: #666;
	padding: 0 10px 0 20px;
	border-right: 1px solid #ccc;
	background: url(../img/header_link_bg.gif) no-repeat;
}
#header .menu a:hover {
	text-decoration: underline;
}
#header .menu .ico1 {
	background-position: 0 3px;
}
#header .menu .ico2 {
	background-position: 0 -27px;
	border: 0;
}

/* end header */

/* nav */
#nav h1 {
	width: 223px;
	height: 62px;
	margin: 0 auto;
	position: relative; /*不能用margin-top,不然会出现外边距合并，也不用绝对定位，不然还要计算使其居中*/
	top: 10px;
}
#nav ul {
	position: absolute;
	top: 10px;
}
#nav .nav1 {
	left: 11px;
}
#nav .nav2 {
	right: 11px;
}
#nav li {
	float: left;
}
#nav li a {
	display: inline-block;
	width: 66px;
	padding-top: 50px;
	text-align: center;
	color: #333;
	background: url(../img/nav_bg.png) no-repeat;
}
#nav .bg1 {
	background-position: 0 0;
}
#nav .bg2 {
	background-position: -66px 0;
}
#nav .bg3 {
	background-position: -132px 0;
}
#nav .bg4 {
	background-position: -198px 0;
}
#nav .bg5 {
	background-position: -264px 0;
}
#nav .bg6 {
	background-position: -330px 0;
}
#nav .bg7 {
	background-position: -396px 0;
}
#nav .bg8 {
	background-position: -462px 0;
}
#nav .bg9 {
	background-position: -528px 0;
}
#nav .bg10 {
	background-position: -594px 0;
}
#nav .bg1:hover {
	background-position: 0 -70px;
}
#nav .bg2:hover {
	background-position: -66px -70px;
}
#nav .bg3:hover {
	background-position: -132px -70px;
}
#nav .bg4:hover {
	background-position: -198px -70px;
}
#nav .bg5:hover {
	background-position: -264px -70px;
}
#nav .bg6:hover {
	background-position: -330px -70px;
}
#nav .bg7:hover {
	background-position: -396px -70px;
}
#nav .bg8:hover {
	background-position: -462px -70px;
}
#nav .bg9:hover {
	background-position: -528px -70px;
}
#nav .bg10:hover {
	background-position: -594px -70px;
}

/* end nav */

/* search */
#search .bar {
	width: 958px;
	height: 64px;
	position: absolute;
	top: 16px;
	left: -1px;
	background: #e21c01;
	border: 1px solid #c40d0e;
	border-radius: 5px;
	box-shadow: 2px 3px 2px #ededed;
}
#search .menu {
	position: relative;
	top: -27px;
	left: 226px;
}
#search .menu li {
	float: left;
	width: 78px;
	height: 25px;
	line-height: 25px;
	margin-right: 1px;
	font-size: 14px;
	text-align: center;
	border: 1px solid #f8d0bf;
	border-bottom: 0;
	border-radius: 5px 5px 0 0;
	cursor: pointer;
}
#search .menu .active {
	color: #fff;
	font-weight: bold;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
	background: #e21c01;
	border: 1px solid #e21c01;
}
#search .bar .info-img {
	width: 163px;
	height: 122px;
	position: absolute;
	left: 32px;
	top: -20px;
	background: url(../img/search_img.png) no-repeat;
	z-index: 2;
}
#search form {
	position: absolute;
	top: 20px;
	left: 226px;
}
#search form .text {
	width: 380px;
	height: 22px;
	float: left;/*使搜索框与按钮对齐*/
	padding: 0 12px;
	margin-right: 10px;
	line-height: 22px;
	font-size: 12px;
	font-family: '微软雅黑';
	color: #ea7a7a;
	border: 0;
	border-radius: 3px;
	box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25);
}
#search form .btn {
	width: 63px;
	height: 26px;
	float: left;/*使搜索框与按钮对齐*/
	background: url(../img/search_img.png) no-repeat -163px 0;
	border: 0;
}
#search .key-text {
	position: absolute;
	top: 14px;
	right: 36px;
	width: 208px;
	line-height: 18px;
	color: #fff;
}
#search .key-text a {
	color: #fff;
}
#search .key-text a:hover {
	text-decoration: underline;
}
#search .update {
	width: 405px;
	height: 30px;
	line-height: 30px;
	position: absolute;
	left: 226px;
	bottom: 0;
	background: url(../img/search_img.png) no-repeat -226px 8px;
	overflow: hidden;
}
#search .update ul {
	position: absolute;
	top: 0px;
	left: 60px;
}
#search .update a {
	color: #000;
}
#search .update a:hover {
	text-decoration: underline;
}
#search .update strong {
	color: #d30703;
	font-weight: normal;
}
#search .update span {
	color: #999;
}
#search .triangle-up {
	top: 8px;
	right: 0;
}
#search .triangle-down-red {
	bottom: 8px;
	right: 0;
}

/* end search */

/* content */

/* content major */

/*main-title and tab-nav*/
.main-title {
	height: 40px;
	line-height: 40px;
	position: relative;
}
.main-title a {
	position: absolute;
	right: 10px;
}
.tab-nav1 li, .main-title {
	color: #cc0d13;
	font-family: 'arial';
	font-size: 12px;
}
.tab-nav1 li span, .main-title span {
	color: #000;
}
.tab-nav1 {
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-bottom: 1px solid #dbdbdb;
}
.tab-nav1 li {
	width: 172px;
	height: 33px;
	border: 1px solid #dbdbdb;
	border-radius: 6px 6px 0 0;
	border-bottom: 0;
	position: relative;
	cursor: pointer;
}

/*制作选中选项卡遮住下面div的上边框的左半部分*/
.tab-nav1 .active {
	height: 34px;
	background: #fff;
}
.tab-nav1 .triangle-down-red, .tab-nav1 .triangle-down-gray {
	top: 14px;
	right: 12px;
}
.tab-nav2 {
	height: 25px;
	line-height: 24px;
	text-align: center;
	border-bottom: 1px solid #dadada;
}
.tab-nav2 li {
	float: left;
	height: 24px;
	color: #666;
	border: 1px solid #dadada;
	border-bottom: 0;
	border-radius: 4px 4px 0 0;
	position: relative;
	cursor: pointer;
	margin-left: -1px;
}
.tab-nav2 .active {
	height: 25px;
	font-weight: bold;
	color: #454545;
	background: #fff;
}
.tab-nav2 .triangle-down-red, .tab-nav2 .triangle-down-gray {
	top: 10px;
	right: 10px;
}

/*private section */
.section .tab-nav2 {
	padding: 0 10px;
}
.section .tab-nav2 li {
	width: 98px;
}

/*private side-section */
.side-section .tab-nav2 {
	padding: 0 6px;
}
.side-section .tab-nav2 li {
	width: 66px;
}

/*end main-title and tab-nav*/

/*activity's title and recommend's title*/
.alone-title {
	height: 70px;		/*公共布局时父级设置了padding，导致现在背景图不能到边上去，下面两行是为了解决该问题*/
	margin: 0 -15px;
	padding: 0 15px;
	position: relative;
	background: url(../img/new_title_bg.gif) no-repeat right 0;
}
.alone-title span, .alone-title strong {
	position: absolute;
	left: 24px;
}
.alone-title span {
	font-size: 12px;
	font-family: arial;
	color: #ea2b31;
	top: 19px;
}
.alone-title strong {
	font-size: 24px;
	color: #333;
	font-weight: normal;
	top: 31px;
}
.alone-title em {
	font-size: 36px;
	font-weight: bold;
	color: #ec1c16;
	position: absolute;
	left: 125px;
	top: 16px;
}

/*private recommend */
.recommend .alone-title {
	background-position: right -70px;
}

/*end activity's title and recommend's title*/

/* content-list */
.content-list li {
	height: 27px;
	line-height: 27px;
	text-align: center;
	color: #333;
	background: url(../img/dot.gif) no-repeat 5px center;
	border-top: 1px dotted #dadada;
	position: relative;
}
.content-list h4 {
	float: left;
	font-size: 12px;
	text-indent: 14px;
	text-align: left;
	font-weight: normal;
	cursor: pointer;
}
.content-list strong {
	font-weight: normal;
	color: #c3c3c3;
}
.content-list strong span {
	color: #c75d61;
}
.content-list a {
	color: #333;
}
.content-list a:hover {
	color: #d80000;
}
.content-list em {
	color: #c75d61;
	text-align: center;
}
.content-list .title {
	background: none;
	color: #999;
	border-top: none;
}
.content-list .title h4 {
	text-indent: 0;
	text-align: center;
	cursor: text;
}
.content-list .title em {
	color: #999;
}

/*private answer*/
.answer .title h4 {
	width: 273px;
}
.answer .title span {
	float: left;
	width: 35px;
}
.answer li img {
	position: absolute;
	top: 7px;
	right: 24px;
}

/*private coupons*/
.coupons .content-list {
	padding-bottom: 10px;
}
.coupons .content-list h4 {
	width: 137px;
}
.coupons .content-list em {
	float: left;
	width: 35px;
}
.coupons .content-list span {
	float: left;
	width: 36px;
}

/*private join*/
.join .content-list {
	padding-bottom: 5px;
}

/*end content-list*/

/*pic-list*/
.pic-list li {
	overflow: hidden;
	zoom: 1;
}
.pic-list li a.pic {
	display: block;
	float: left;
	width: 90px;
	height: 67px;
	padding: 2px;
	margin-right: 10px;
	border: 1px solid #dadada;
}
.pic-list a.pic:hover {
	border: 1px solid #b80000;
}
.pic-list h3 {
	font-weight: normal;
	font-size: 12px;
	padding-bottom: 4px;
	float: left;
}
.pic-list h3 a {
	color: #b80000;
}
.pic-list h3 a:hover {
	text-decoration: underline;
}
.pic-list p {
	color: #999;
	float: left;
}
.pic-list p a {
	color: #666;
}
.pic-list p a:hover {
	color: #b80000;
	text-decoration: underline;
}

/* private advice */
.advice .pic-list li {
	width: 214px;
	border-bottom: 1px dotted #dadada;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

/* private discount */
.discount .pic-list {
	padding-bottom: 10px;
}

/* private join */
.join .pic-list {
	overflow: hidden;
	zoom: 1;
}
.join .pic-list li {
	width: 107px;
	height: 150px;
	float: left;
}
.join .pic-list h3 {
	padding-top: 5px;
}

/*end pic-list*/

/* end content major */

/* section1 vedio */
.video-title {
	height: 42px;
	line-height: 42px;
	background: url(../img/video_bg.gif) no-repeat 105px 10px;
	font-size: 18px;
	font-family: arial;
	color: #d90000;
	font-weight: normal;
}
.video {
	margin-bottom: 13px;
}
.video-list {
	padding-left: 75px;
	height: 78px;
	background: url(../img/video_bg.gif) no-repeat 3px -47px;
}
.video-list li {
	line-height: 20px;
	text-indent: 15px;
	background: url(../img/dot.gif) no-repeat 5px center;
}
.video-list a {
	color: #4d4d4d;
}
.video-list a:hover {
	text-decoration: underline;
}

/* end section1 vedio */

/* options1 shop */
.shop .con {
	width: 318px;
	height: 374px;
	padding: 10px 15px 0;
	border: 1px solid #dbdbdb;
	border-radius: 0 0 6px 6px;
	border-top: 0;
	position: absolute;
}
.shop .con2 {
	display: none;
}
.shop .list {
	overflow: hidden;
}
.shop .list li {
	position: relative;
	float: right;
	width: 192px;
	height: 98px;
	padding: 10px 0 0 20px;
	margin-bottom: 6px;
	background: url(../img/hot_list_li_bg.gif) no-repeat top right;
	vertical-align: middle;
}
.shop .list a.pic {
	position: absolute;
	display: block;
	top: 10px;
	left: -106px;
}
.shop .list a.pic:hover {
	border: 1px solid #929292;
}
.shop .list h3 {
	line-height: 24px;
	font-size: 12px;
	padding-bottom: 6px;
}
.shop .list h3 a {
	font-weight: normal;
	color: #bb0d0d;
}
.shop .list h3 a:hover {
	text-decoration: underline;
}
.shop .list p {
	line-height: 16px;
	color: #6e6e6e;
}
.shop .more {
	position: absolute;
	right: 15px;
	bottom: 6px;
}

/* end options1 shop */

/* section2 activity*/
.activity {
	height: 498px;
}
.activity .info {
	padding: 16px 10px 0;
	height: 104px;
}
.activity .img {
	float: left;
	width: 84px;
	height: 84px;
	position: relative;
}
.activity .mask {
	width: 84px;
	height: 84px;
	position: absolute;
	top: 0;
	left: 0;
	background-position: -373px 0;
	background: url(../img/activity_bg.gif) no-repeat -373px 0;
}
.activity img {
	width: 84px;
	height: 84px;
}
.activity .info h3 {
	width: 204px;
	height: 32px;
	float: right;
	font-size: 12px;
}
.activity .info em {
	display: inline-block;
	width: 25px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	font-size: 14px;
	font-family: arial;
	color: #cf3530;
	background: url(../img/activity_bg.gif) no-repeat -348px 0;
}
.activity .info p {
	float: right;
	width: 204px;
	line-height: 18px;
	color: #999;
}
.calendar {
	padding: 0 14px 0 10px;
	position: relative;
}
.calendar h3 {
	height: 34px;
	line-height: 34px;
	text-align: center;
	font-size: 14px;
	font-family: arial;
	color: #666;
	background: url(../img/adorn.gif)  repeat-x;
	word-spacing: 10px;
}
.calendar h3 span {
	float: left;
	width: 42px;
}
.calendar ol li {
	width: 40px;
	height: 40px;
	float: left;
	line-height: 40px;
	text-align: center;
	margin: 0 2px 2px 0;
	background: #ededed;
	position: relative;
}
.calendar .last-month, .calendar .next-month {
	background: #f8f8f8;
	color: #ccc;
}
.calendar .active {
	width: 36px;
	height: 36px;
	border: 2px solid #d30408;
	cursor: pointer;
}
.calendar img {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}
.calendar .active img {
	width: 36px;
	height: 36px;
}
.detail {
	width: 294px;
	height: 84px;
	padding: 10px;
	border: 1px solid #c0c0c0;
	background: #fff;
	position: absolute;
	top: 90px;
	left: 100px;
	z-index: 99;
	box-shadow: 4px 4px 0 rgba(0, 0, 0, 0.2);
	display: none;
}
.detail img {
	float: left;
	width: 80px;
	height: 80px;
	border: 2px solid #dbdbdb;
	position: relative;/*消除前面的.calendar img设置的定位*/
}
.detail h4 {
	width: 200px;
	float: right;
	font-size: 12px;
	color: #333;
	padding-bottom: 8px;
}
.detail h4 strong {
	color: #ccc;
	font-size: 18px;
	vertical-align: middle;
}
.detail p {
	color: #999;
	line-height: 20px;
	width: 200px;
	float: right;
}
#arrow {
	width: 8px;
	height: 14px;
	overflow: hidden;
	position: absolute;
	top: 45px;
	left: -8px;
	background: url(../img/adorn.gif) no-repeat 0 -48px;
}

/* end section2 activity*/

/* section3 recommend*/
.recommend {
	height: 498px;
}
.rotate {
	width: 294px;
	height: 168px;
	padding: 12px 12px 0;
	background: #f8f8f8;
	margin: 0 auto;
	border-radius: 6px;
	position: relative;
}
.rotate ul {
	float: left;
	width: 223px;
	height: 133px;
	overflow: hidden;
}
.rotate ul a {
	display: block;
	border: 1px solid #fff;
}
.rotate ul img {
	width: 223px;
	height: 133px;
}
.rotate ol {
	float: right;
}
.rotate ol li {
	display: block;
	border: 3px solid #fff;
	margin-bottom: 13px;
}
.rotate ol img {
	width: 54px;
	height: 30px;
}
.rotate .active {
	border: 3px solid #d6191d;
}
.rotate p {
	line-height: 32px;
	position: absolute;
	left: 12px;
	bottom: 0px;
}
.recommend .list {
	padding: 18px 11px 0;
}
.recommend .list li {
	height: 27px;
	padding-left: 20px;
	line-height: 27px;
	background: url(../img/content/recommend_list_ico2.gif) no-repeat 0 center;
}
.recommend .list a {
	padding-left: 10px;
	border-left: 1px solid #dbdbbd;
	color: #454545;
	+float: left;
}
.recommend .list a:hover {
	text-decoration: underline;
}
.recommend .list span {
	float: right;
	font-family: arial;
	color: #999;
}

/* end section3 recommend*/

/* options2 map*/
.map {
	height: 328px;
}
.map .con {
	width: 318px;
	padding: 0 15px;
	border: 1px solid #dbdbdb;
	border-top: 0;
	border-radius: 0 0 6px 6px;
}
.map .con2 {
	display: none;
}
.map img {
	width: 318px;
	height: 294px;
}

/* end options2 map*/

/* sections4 bbs*/
.bbs {
	height: 328px;
}
.bbs ol li {
	height: 30px;
	line-height: 30px;
	margin-bottom: 3px;
	background: #f8f8f8;
	border-radius: 6px;
	position: relative;
}
.bbs span.seq {
	float: left;
	color: #d80000;
	width: 45px;
	font-weight: bold;
	text-indent: 10px;
}
.bbs ol h4 {
	float: left;
}
.bbs ol h4 a {
	font-size: 12px;
	font-weight: normal;
	color: #333;
}
.bbs ol strong {
	display: none;
}
.bbs ol img {
	width: 50px;
	height: 50px;
	display: none;
}
.bbs span.belongs {
	float: right;
	color: #666;
	padding-right: 22px;
}
.bbs span.en-seq {
	display: none;
}
.bbs .active {
	height: 50px;
	padding: 10px;
	background: #d90000;
}
.bbs .active span.seq {
	display: none;
}
.bbs .active h4 a {
	position: absolute;
	top: 7px;
	left: 70px;
	font-weight: bold;
	color: #fff;
}
.bbs .active strong {
	display: block;
	position: absolute;
	top: 33px;
	left: 70px;
	font-weight: normal;
	color: #fff;
}
.bbs .active img {
	display: inline;
	float: left;
}
.bbs .active span.belongs {
	display: none;
}
.bbs .active span.en-seq {
	display: block;
	position: absolute;
	right: 4px;
	bottom: -5px;
	font-size: 26px;
	font-weight: bold;
	color: #fff
}

/* end sections4 bbs*/

/*section5 answer*/
.answer .con2, .answer .con3 {
	display: none;
}
.answer form {
	height: 47px;
	border-top: 1px dotted #dadada;
	padding: 17px 0 0 8px;
	color: #595959;
}
.answer label {
	font-weight: bold;
	vertical-align: middle;
}
.answer .text {
	width: 172px;
	height: 20px;
	padding: 0 4px;
	border: 1px solid #9c9c9c;
	line-height: 20px;
	color: #9c9c9c;
	vertical-align: middle;
}
.answer .btn {
	width: 24px;
	height: 25px;
	background: url(../img/btn.gif);
	border: none;
	margin-left: 10px;
	vertical-align: middle;
}

/*end section5 answer*/

/* section6 hot-person*/
.hot-person .list {
	height: 258px;
}
.hot-person li {
	float: left;
	margin: 0 3px 3px 0;
	position: relative;
}
.hot-person li img {
	width: 76px;
	height: 76px;
}
.hot-person p {
	position: absolute;
	top: 0;
	left: 0;
	width: 56px;
	height: 56px;
	padding: 10px;
	line-height: 18px;
	color: #fff;	/*为了兼容IE7，8，记得放上面以避免覆盖background:rgba(0,0,0,0.5); */
	background: #000;
	filter: alpha(opacity=80);	/*---------------*/
	background: rgba(0, 0, 0, 0.5);
	display: none;
}
.hot-person .title p {
	display: none !important;
}

/* end section6 hot-person*/

/* section7 help */
.help .con {
	height: 208px;
}
.help .con p {
	text-indent: 2em;
}
.help .con strong {
	float: left;
	width: 154px;
	text-indent: 30px;
	line-height: 44px;
	background: url(../img/help.gif) no-repeat;
}
.help .con #tel {
	font-size: 16px;
	color: #b80000;
	background-position: 7px 12px;
}
.help .con #mail {
	font-weight: normal;
	background-position: 7px -32px;
}
.help dl {
	width: 144px;
	padding: 15px 0 0 10px;
	line-height: 18px;
	float: left;
}
.help dt {
	font-weight: bold;
	padding-bottom: 8px;
}
.help dd {
	text-indent: 12px;
	background: url(../img/dot.gif) no-repeat 4px center;
}
.help dd a {
	color: #333;
}
.help dd a:hover {
	text-decoration: underline;
}

/* end section7 help*/

/* section8 media*/
.media .list {
	height: 205px;
	padding-top: 3px;
}
.media li {
	width: 318px;
	height: 50px;
	vertical-align: middle;
}
.media li a {
	float: left;
	width: 100px;
}
.media li p {
	float: left;
	width: 208px;
	color: #333;
}

/* end section8 media*/

/* side-section login*/
.login .main-title {
	margin: 0 -12px 0 -12px;
	text-indent: 12px;
	height: 34px;
	line-height: 34px;
	border-bottom: 1px solid #dbdbdb;
}
.login form {
	width: 214px;
	padding: 15px 0 2px;
	color: #595959;
	border-bottom: 1px solid #f2f2f2;
	margin: 0 auto;
	position: relative;
}
.login #username, .login #password {
	width: 77px;
	height: 13px;
	margin-right: 3px;
	margin-bottom: 5px;
	padding: 2px 5px;
	border: 1px solid #dbdbdb;
	background: #f7f7f7;
}
.login label {
	float: left;
	width: 58px;
	word-spacing: 8px;
}
.login label.remember {
	width: 40px;
	color: #000;
	position: absolute;
	top: 15px;
	right: 0;
}
.login #login-btn {
	width: 54px;
	height: 22px;
	border: none;
	background: #cb0000;
	color: #fff;
	font-family: '宋体';
	font-size: 12px;
	font-weight: bold;
	border-radius: 10px;
}
.login p {
	line-height: 32px;
	text-align: center;
	word-spacing: 20px;
}
.login p a {
	padding-left: 14px;
	background: url(../img/dot.gif) no-repeat 4px center;
	color: #666;
}
.login p a:hover {
	text-decoration: underline;
}

/* end side-section login*/

/*side-section coupons*/
.coupons .con2, .coupons .con3 {
	display: none;
}

/* end side-section coupons*/

/*side-section panoramic*/
.panoramic div {
	height: 138px;
}
.panoramic div img, .panoramic div span {
	display: block;
}
.panoramic div a {
	color: #333;
}
.panoramic div a:hover {
	color: #b80000;
	text-decoration: underline;
}
.panoramic div span {
	line-height: 26px;
}

/*end side-section panoramic*/

/* end content */

/* footer */
#footer {
	padding-top: 14px;
	line-height: 25px;
	text-align: center;
}
#footer ul {
	text-align: center;
	overflow: hidden;
}
#footer li {
	width: 68px;
	display: inline-block;
	+display: inline;
	zoom: 1;
}
#footer li a {
	padding: 0 9px;
	border-right: 1px solid #ccc;
	color: #454545;
}
#footer li.last a {
	border: 0;
}
#footer p {
	color: #767676;
}

/* end footer */
.show {
	display: block !important;
}
.hide {
	display: none !important;
}